ul, dl, ol, li, dt, dd {
  list-style: none;
}

.font2em {
  font-size: 2em !important;
}

.gnb_2da {
  font-size: 0.8em !important;
}

.hjinner {
  max-width: 1440px;
}

body {
  font-family: 'nexL' !important;
}

#tnb {
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#tnb .hd_login {
  font-family: 'nexM';
}

#hd_wrapper .logoBox #logo {
  max-width: 400px;
  height: auto;
}

#hd_wrapper .logoBox .snsBox i {
  font-size: 40px;
}

#hd #hd_wrapper nav#gnb {
  position: unset;
}

#hd #hd_wrapper nav#gnb #gnb_1dul:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: white;
  height: 0;
  transition: 0.5s;
}

#hd #hd_wrapper nav#gnb #gnb_1dul:hover:after {
  height: 150px;
}

#hd #hd_wrapper nav#gnb #gnb_1dul:hover .gnb_1dli .gnb_2dul_box {
  height: 150px;
}

#hd #hd_wrapper nav#gnb #gnb_1dul .gnb_1dli .gnb_1da {
  font-family: 'nexB';
}

#hd #hd_wrapper nav#gnb #gnb_1dul .gnb_1dli .gnb_1da:hover {
  color: #FAC800;
}

#hd #hd_wrapper nav#gnb #gnb_1dul .gnb_1dli .gnb_2dul_box {
  top: 200%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1111;
}

#hd #hd_wrapper nav#gnb #gnb_1dul .gnb_1dli .gnb_2dul_box .gnb_2da {
  font-family: 'nexM';
}

#hd #hd_wrapper nav#gnb #gnb_1dul .gnb_1dli .gnb_2dul_box .gnb_2da:hover {
  color: #FAC800;
}
