ul, dl, ol, li, dt, dd{ list-style: none;}
.font2em{
    font-size: 2em !important;
}
.gnb_2da{
    font-size: 0.8em !important;
}
.hjinner{
    max-width:1440px;    
}
body{
    font-family: 'nexL' !important;
}
a:hover{
    text-decoration: none !important;
}

/////////////// 관리자 로그아웃 ///////////////

#tnb{
    left: 0;
    right: 3%;
    top: 6%;
    .hd_login{
        font-family: 'nexM'
    }
}

/////////////// 내비게이션 ///////////////



#hd_wrapper{
    @media(max-width : 991px){
        position: relative;
    }
    .logoBox{
        min-width: 150px;
        @media(max-width : 991px){
            position: unset;
        }
        #logo{
            max-width: 400px;
            min-width: 144px;
            height: auto;
        }
        .snsBox{
            @media(max-width:991px){
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                transform: translateX(-2rem);
                justify-content: flex-end;
                align-items: center;
            }
            i.fa-youtube{
                font-size: 30px;
                @media(max-width:991px){
                    font-size: 20px;
                }
            }
            i.fa-instagram{
                font-size: 27px;
                @media(max-width:991px){
                    font-size: 20px;
                }
            }
        }
    }    
}

#hd{
    #hd_wrapper{
        nav#gnb{
            position: unset;
            #gnb_1dul{
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 100%;
                    background-color: rgb(255, 255, 255);
                    height: 0;
                    transition: 0.5s;
                    border-bottom: 1px solid #dee2e6;
                }
                &:hover:after{
                    height: 150px;

                }
                &:hover .gnb_1dli .gnb_2dul_box{
                    height: 150px;
                }
                .gnb_1dli{
                    .gnb_1da{
                        font-family: 'nexB';
                        &:hover{
                            color: #FAC800;
                        }
                    }
                    .gnb_2dul_box{
                        top: 200%;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 0;
                        overflow: hidden;
                        transition: 0.5s;
                        z-index: 1111;
                        text-align: center;
                        .gnb_2da{
                            font-family: 'nexM';
                            &:hover{
                                color: #FAC800;
                            }
                        }
                    }
    
                }
            }
        }
        button#mb_menu{
            i{
                font-size: 23px;
            }
        }
    }    
}


