ul, dl, ol, li, dt, dd{ list-style: none;}
.font2em{
    font-size: 2em !important;
}
.gnb_2da{
    font-size: 0.8em !important;
}
.hjinner{
    max-width:1440px;    
}
body{
    font-family: 'nexL' !important;
}
a:hover{
    text-decoration: none !important;
}

/////////////// 관리자 로그아웃 ///////////////

#tnb{
    left: 0;
    right: 3%;
    top: 0.5rem;
    z-index: 1000;
    .hd_login{
        font-family: 'nexM'
    }
}

/////////////// 내비게이션 ///////////////

#hd{
    #hd_wrapper{
        transition: 0.5s;
        transition-delay: 0.15s;
        &.bgcolor{
            background-color: white;  
            transition-delay: unset;
            .logoBox  #logo svg,
            .snsBox i,
            #gnb .gnb_1da{
            color: black !important;   
            fill: black;   
            #gnb button.navbar-toggler .fa-bars{
                    color: black !important;      
                }
            }
        }
    @media(max-width : 991px){
        position: relative;
        transition-delay: 0.2s;
    }
        .logoBox{
            min-width: 150px;
            @media(max-width : 991px){
                position: unset;
            }
            #logo{
                max-width: 400px;
                min-width: 144px;
                height: auto;
                z-index: 111111;
                svg{
                    fill: #fff;
                }
            }
            .snsBox{
                @media(max-width:991px){
                    position: absolute;
                    right: 0;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    transform: translateX(-12%);
                    justify-content: flex-end;
                    align-items: flex-start;
                    line-height: 0;
                    padding-top: 0.8rem;
                    padding-bottom: 0.8rem;
                }
                i.fa-youtube{
                    font-size: 30px;
                    @media(max-width:991px){
                        font-size: 23px;
                    }
                }
                i.fa-instagram{
                    font-size: 27px;
                    @media(max-width:991px){
                        font-size: 22px;
                    }
                }
            }
        }    
        nav#gnb{
            position: unset;            
            #gnb_1dul{
                left: 0;
                right: 0;
                top: 98%;
                transition-delay: 0.1s;
            @media (min-width: 992px){
                    position: unset !important;
                    &:after{
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 100%;
                        background-color: rgb(255, 255, 255);
                        height: 0;
                        transition: 0.5s;                    
                    }
                    &:hover:after {
                        height: 150px;
                    }       
                    &:hover .gnb_1dli .gnb_2dul_box{
                        height: 150px;
                    }
                }
            }
            #gnb_1dul{
                @media(max-width:991px){
                    position: relative;
                    background-color: white;
                }                
                .gnb_1dli{
                    @media(max-width:991px){
                        font-size: 1rem !important;
                        .gnb_1da{
                            color: black !important;
                        }
                        &.show .gnb_2dul_box{
                            height: 75px;
                            padding: 0 1rem;
                        }
                    }
                    .gnb_1da{
                        font-family: 'nexB';
                        &:hover{
                            color: #34c1b5 !important;
                        }
                    }
                    .gnb_2dul_box{
                        top: 100%;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 0;
                        overflow: hidden;
                        transition: 0.5s;
                        z-index: 1111;
                        text-align: center;
                        @media(max-width : 991px){
                            position: relative !important;
                            text-align: left;
                        }
                        .gnb_2da{
                            font-family: 'nexM';
                            &:hover{
                                color: #34c1b5;
                            }
                        }
                    }
    
                }
            }
            button.navbar-toggler{
                outline: unset;
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
                i{
                    font-size: 23px;
                }
            }
        }        
    }    
}

////// 메뉴바(햄버거 버튼) 색상 변경 //////
#hd_wrapper.bgcolor{
    #gnb{
        button.navbar-toggler .fa-bars{
            color: black !important;
        }
    }
    
}




#gnb_1dul .gnb_2dul_box:first-child{
    display: none;    
}

.collapsing{
    position: unset;
    height: unset;
    overflow: unset;
    transition: 0.5s;
    
}