ul, dl, ol, li, dt, dd{ list-style: none;}
.font2em{
    font-size: 2em !important;
}
.gnb_2da{
    font-size: 0.8em !important;
}
.hjinner{
    max-width:1440px;    
}
.bg-black{
    background-color: #212020;
}
body{
    font-family: 'nexL' !important;
}
a:hover{
    text-decoration: none !important;
}
textarea:focus{    
    outline: unset;
    box-shadow: unset;
    border: 1px solid #767676 !important;
}

/////////////// 관리자 로그아웃 ///////////////

#tnb{
    left: 0;
    right: 3%;
    top: 0.5rem;
    z-index: 1000;
    .hd_login{
        font-family: 'nexM'
    }
    @media(max-width:991px){
        top: 3.5rem;
    }
}

//////////// 전체 게시판 타이틀 수정 ////////////

#wrapper{
    #container_title{
        font-family: 'nexL';
        font-size: 3rem;
        letter-spacing: 1.2rem;
        text-indent: 1.2rem
    }
}

/////////////// 내비게이션 ///////////////
#hd{
    #hd_wrapper{
        transition: 0.7s;
        transition-delay: 0.1s;
    @media(max-width : 991px){
        position: relative;
        transition: unset;
        &.bgcolor{
            background-color: white;  
            .logoBox  #logo svg,
            .snsBox i,
            #gnb .gnb_1da{
            color: black !important;   
            fill: black !important;   
            #gnb button.navbar-toggler .fa-bars{
                    color: black !important;      
                }
            }
        }
    }
        .logoBox{
            min-width: 150px;
            @media(max-width : 991px){
                position: unset;
            }
            #logo{
                max-width: 400px;
                min-width: 144px;
                height: auto;
                z-index: 111111;
                svg{
                    fill: #fff;
                }
            }
            .snsBox{
                @media(max-width:991px){
                    position: absolute;
                    right: 0;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    transform: translateX(-12%);
                    justify-content: flex-end;
                    align-items: flex-start;
                    line-height: 0;
                    padding-top: 0.8rem;
                    padding-bottom: 0.8rem;
                }
                i.fa-youtube{
                    font-size: 30px;
                    @media(max-width:991px){
                        font-size: 23px;
                    }
                }
                i.fa-instagram{
                    font-size: 27px;
                    @media(max-width:991px){
                        font-size: 22px;
                    }
                }
            }
        }    
        nav#gnb{
            position: unset;
            .gnb_wrap{
            &.collapsing{
                position: unset;
                height: unset;
                overflow: unset;
                transition: unset;    
                }            
            }
            #gnb_1dul{
                left: 0;
                right: 0;
                top: 98%;
                transition: 0.5s;
                transition-delay: 0.1s;
            @media (min-width: 992px){
                    position: unset !important;
                    border-bottom: unset !important;
                    &:after{
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 100%;
                        height: 0;
                        transition: 0.5s;
                        transition-delay: 0.1s;                                          
                    }
                    &:hover:after {
                        height: 150px;
                        transition-delay: 0.1s;                        
                    }       
                    &:hover .gnb_1dli .gnb_2dul_box{
                        height: 150px;
                        transition-delay: 0.2s;
                    }
                }
            }
            #gnb_1dul{
                @media(max-width:991px){
                    background-color: white;
                }                
                .gnb_1dli{
                    @media(max-width:991px){
                        font-size: 1rem !important;
                        &.li_view .gnb_2dul_box{
                            height: 75px;
                            padding: 0 1rem;
                        }
                        .gnb_1da{
                            color: black !important;
                        }
                    }
                    .gnb_1da{
                        font-family: 'nexB';
                        &:hover{
                            color: #34c1b5 !important;
                        }
                    }
                    .gnb_2dul_box{
                        top: 100%;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 0;
                        overflow: hidden;
                        transition: 0.5s;
                        z-index: 1111;
                        text-align: center;
                        @media(max-width : 991px){
                            position: relative !important;
                            text-align: left;
                        }
                        .gnb_2da{
                            font-family: 'nexM';
                            &:hover{
                                color: #34c1b5;
                            }
                        }
                        &:hover{
                            transition: 0.5s;
                        }
                    }
    
                }
            }
            button.navbar-toggler{
                outline: unset;
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
                i{
                    font-size: 23px;
                }
            }
        }        
    }    
}

//////////// 메뉴바(햄버거 버튼) 색상 변경 ////////////
#hd_wrapper.bgcolor{
    #gnb{
        button.navbar-toggler .fa-bars{
            color: black !important;
        }
    }
    
}

//////////// 인덱스 여부에 따른 navi 색상 변경 ////////////

.pc #hd_wrapper.hyjiHD_w1{
    &.bgcolor{
        background-color: white;  
        .logoBox  #logo svg,
        .snsBox i,
        #gnb .gnb_1da{
        color: black !important;   
        fill: black !important;   
        }
        #gnb .gnb_wrap #gnb_1dul{
            &:after{
                background-color: white !important;
            }
            .gnb_2dli .gnb_2da{
                color: black;
            }
        }
    }
}

.pc #hd #hd_wrapper.hyjiHD_w2{
    &.bgcolor{
        background-color: rgb(0, 0, 0);  
        .logoBox  #logo svg,
        .snsBox i,
        #gnb .gnb_1da{
        color: white !important;   
        fill: white !important;   
        }
        #gnb .gnb_wrap #gnb_1dul{
            &:after{
                background-color: black !important;
            }
            .gnb_2dul_box{
                transition: unset !important;
                .gnb_2dli .gnb_2da{
                color: white;
                &:hover{
                    color: #34c1b5;
                }
                }
            }     
        }
    }
}

//////////// 모바일에서는 첫번째 2dul 안보이게 설정 ////////////

#gnb_1dul .gnb_1dli:first-child .gnb_2dul_box{
    @media(max-width : 991px){
        display: none;    
    }
}



//////////// 메인배너 ////////////

#mainSlider{
    .sliderBox{
        .swiperBox{
            cursor: unset !important;
            .sw_text{
                left: 0 !important;
                right: 0 !important;
                top: 0 !important;
                bottom: 0 !important;
            }
            .swiper-pagination.main-pagination{
                bottom: 0 !important;
                display: flex;
                .swiper-pagination-bullet{
                    width: 0;
                    left: 0 !important;
                    right: 0 !important;
                    bottom: 0 !important;
                    border: unset;
                    height: 100px;
                    background-color: unset;
                    background-image: url(/joy/theme/basic/custom/img/form/required.svg);
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: 100px;
                    margin: 0 !important;
                    &.swiper-pagination-bullet-active{
                        width: 100% !important;
                        transition: linear 6s !important;
                    }
                }
            }
        }
    }
}

//////////// 수강신청 ////////////

#bo_w{
    .bo_w_select{
        font-size: 1.2rem;
        @media(max-width:991px){
            width: 100% !important;
        }
        .write_Text{

        }
        .form_field{
            font-size: 1.3rem;
            padding: 0.3rem;
            border: unset !important;
            background-image: url(/joy/theme/basic/custom/img/form/cloud1.png) !important;
            background-repeat: no-repeat;
            background-size: 100%;
            background-color: transparent;
            height: 4.1rem;
            max-width: 200px;
            @media (min-width : 992px) and (max-width : 1126px){
                height: 3.1rem;
            }
        }
    }
    .bo_w_info{
        .frm_input{
            border: none !important;
            background: #fff;
            color: #000;
            padding: 5px;
            border-bottom: 1px solid #34c1b5 !important;
            border-radius: unset !important;
            box-shadow: none;
            font-size: 1.3rem;
        }
        .required, textarea.required {
            background-image: url(/joy/theme/basic/custom/img/form/required.svg) !important;
            background-repeat: no-repeat !important;
            background-position: right !important;
        }
    }
    #wr_content{
        height: 8vw !important;
        min-height: 80px;
        border: 1px solid #34c1b5 !important;
    }    
    .write_btn{
        .btn_speak{
            @media(max-width:991px){
                #captcha_img{
                    margin: 5px auto;
                }
                #captcha_key{
                    margin: 0.25rem!important;
                }
            }
        }

        .btn_confirm{
            .btn{
                background: #fff0;
                color: #000000;
                text-decoration: none;                
                border-radius: unset;
                box-shadow: unset;
                outline: unset;
                color: white;
                height: unset;
                font-size: 1.5rem;
                &.btn_cancel{
                    background: #aaa;
                }
                &.btn_submit{
                    background: #34c1b5;
                }
                @media(max-width:991px){
                    font-size: 1.2rem;
                }
            }
        }
    }
    .gnb_2da{
        @media (max-width: 991px){
            font-size: 0.8rem !important;
        }
    }
    .info{
        textarea{
            border: 1px solid #34c1b5 !important;
        }
    }
}



