#wrapper{
    min-height: calc(100vh - 370px);
}

#ft{
    background-color: #858585;
    background-image: url(/joy/theme/basic/custom/img/wavebg.svg);
    background-size: 35%;
    background-repeat: repeat-X;
    background-position-Y: top;
    .adult{
        width: 15rem;
        bottom: 0;
        left: 0;
        transform: translate(35%, -40%);
        @media(max-width:767px){
            width: 13rem;
            transform: translate(15%, -112%);
        } 
    }
    .ft_wr{
        @media(max-width:767px){
            display: flex;
            flex-direction: column-reverse;
        }
        .leftWrap{
            .tel{
                a{
                    font-size: 2rem;
                    line-height: 1.8rem;
                    letter-spacing: 0.2rem;
                    text-indent: 0.2rem;
                    color: white;
                }
            }
        }
        #logoWrap{
            svg{
                width: 250px;
                fill: white;
                @media(max-width:767px){
                    width: 175px
                }
            }
        }
    }
}

#ft_link{
    a{
        font-size: 0.8rem;
        line-height: 1.8rem;
        letter-spacing: 0.2rem;
        text-indent: 0.2rem;
    }
}

#news{
    .hjinner{
        .textWrap{
            a{
                cursor: unset;
                &:hover{
                    color: unset;
                }
                .subject{
                    font-size: 3rem;
                    font-family: 'nexL';
                    transition: 0.3s;
                    width: fit-content;
                    cursor: pointer;
                    color: #5a5a5a;
                    letter-spacing: 0.8rem;
                    &:hover{
                        color: #34C1B5;
                    }
                }
            }
            .table{
                margin-bottom: 0;
                top: 0;
                right: 0;
                font-size: 6rem;
                width: fit-content;
                font-family: 'nexB';
                color: #c9c9c966;
                transform: translate(-60%, 10%);
                @media(max-width:767px){
                    left: 0;
                    font-size: 4rem;
                    transform: translate(1rem, 2rem);
                }
            }
        }
        .newsWrap{
            .box{
                @media(max-width:767px){
                    &:after{
                        content: "";
                        position: absolute;
                        width: 93%;
                        border-bottom: 1px solid #c9c9c9c9;
                        bottom: 0;
                        margin-bottom: -1rem;
                    }
                }
                
                .name{
                    font-size: 1.6rem;
                    font-family: 'nexM';
                    height: 100px;
                    max-width: 215px;
                    @media(max-width:992px){
                        height: 50px;
                    }
                    &:hover{
                        a{
                            color: #34C1B5;
                            transition: 0.3s;
                        }
                    }
                }
                .date{
                    .content{
                        font-size: 1rem;
                        width: 16rem
                    }
                }
                .nsbtn{
                    svg{
                        width: 50px;
                        height: 50px;
                    }
                    a{
                        svg{
                            .st0{
                                fill: #F1F1F1;;
                            }
                        }
                        &:hover{
                            svg{
                                .st0,
                                .st1{
                                    fill: #34C1B5;
                                    transition: 0.3s;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}
#minji{
    width: 100%;
    right: 0;
    bottom: 0;
    animation: minji 10s linear;
    animation-iteration-count: infinite;
    transform: translate(37%, 38%);
    z-index: 1;
    @media(max-width:767px){
        animation: minjiM 5s linear;
    }
    img{
        width: 10rem;
    }
}
@keyframes minji {
    0% {
        transform: translate(37%, 38%);
    }
    10%{
        transform: translate(25%, 91%);
    }
    20%{
        transform: translate(14%, 88%)rotate(19deg);
    }
    30%{
        transform: translate(8%, 51%)rotate(8deg);
    }
    40%{
        transform: translate(0%, 56%)rotate(8deg);
    }
    50%{
        transform: translate(-6%, 80%)rotate(351deg);
    }
    60%{
        transform: translate(-19%, 91%)rotate(2deg);
    }
    70%{
        transform: translate(-30%, 52%)rotate(8deg);
    }
    80%{
        transform: translate(-37%, 50%)rotate(3deg);
    }
    90%{
        transform: translate(-44%, 85%)rotate(1deg);
    }
    100%{
        transform: translate(-49%, 95%)rotate(1deg);
    }
}
@keyframes minjiM {
    0%{transform: translate(37%, 38%);}
    100%{transform: translate(-48%, 38%);}
}

#gallery{
    background-color: #34C1B5;
    background-image: url(/joy/theme/basic/custom/img/whiteSK.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right bottom;;
    .wavebg{
        background-image: url(/joy/theme/basic/custom/img/wavebg.svg);
        background-size: 35%;
        background-repeat: repeat-X;
        background-position-Y: top;
    }
    @media(max-width:1440px){
        background-size: 45%;
        background-position-y: bottom;
    }
    @media(max-width:1023px){
        background-size: 52%;
        background-position-y: bottom;
    }
    .hjinner{
        .dailySub{
            p{
                font-size: 3rem;
                font-family: 'nexL';
                letter-spacing: 0.8rem;
                color: #0e7c73;
            }
            .gallery{
                margin-bottom: 0;
                top: 0;
                right: 0;
                font-size: 6rem;
                width: fit-content;
                font-family: 'nexB';
                color: #f1eded66;
                transform: translate(-40%, 30%);
                @media(max-width:767px){
                    left: 0;
                    font-size: 4rem;
                    transform: translate(1rem, 6rem);
                }
                @media(max-width:375px){
                    left: 0;
                    font-size: 3rem;
                    transform: translate(1rem, 6rem);
                }
            }
            .red{
                width: 12rem;
                top: 100%;
                right: 0;
                transform:rotate(346deg);
            }
        }
        .dailyBWrap{
            padding-top: 144px;
            .minjiBT-prev,
            .minjiBT-next{
                position: relative;
                width: 95px;
                height: 40px;
                margin: 0 5px;
                // cursor: pointer;
                @media(max-width:767px){
                    // width: 200px;
                    display: none;
                }
                .st0,
                .st1{
                    fill: black;
                }
            }
            .swiper-container{
                .swiper-wrapper{
                    .swiper-slide.minjislide{
                        img{
                            height: 100%;
                            border-radius: 15px;
                            border: 5px solid #7fd3cc;
                            @media(max-width:767px){
                                border: unset;
                            }
                        }
                    }
                }
               
            }
        }
    }
}
#youtube{
    .youWrap{
        .green{
            width: fit-content;
            top: 40%;
            right: 35%;
            img{
                width: 12rem;
            }
        }
        .noline{
            line-height: 0;
            iframe{
                border-radius: 75px;
                @media(max-width: 767px){
                    border-radius: unset;
                }
            }
        }
        .youT{
            font-size: 1.1rem;
            letter-spacing: 0.15rem;
            text-indent: 0.15rem;
            @media(max-width: 426px){
                font-size: 0.9rem;
            }
            .ycontent{
                line-height: 2rem;
            }
            .linkBtn{
                .btnWrap{
                    // border: 1px solid black;
                    background-color: #34C1B5;
                    &:hover{
                        background-color: #0e7c73;
                    }
                    a{
                        color: white;
                        font-size: 1rem;
                        line-height: 3.5rem;
                    }
                }
            }
        }
    }
}
#way{
    .mapWrap{
        .mapText{
            p{
                font-size: 1.1rem;
                line-height: 2rem;
                letter-spacing: 0.15rem;
                text-indent: 0.15rem;
                word-wrap: break-word;
                @media(max-width: 426px){
                    font-size: 0.9rem;
                }
            }
        }
    }
}
#map{
    border-radius: 75px;
}
.fix{
    bottom: 0;
    right: 0;
    padding: 25px;
    z-index: 1;
    @media(max-width:425px){
        padding: 5px;
    }
}
#top_btn {
    width:50px;
    height:50px;
    margin-top: 8px;
    line-height:46px;
    // border:1px solid #34C1B5; 
    border-radius: 50%; 
    text-align:center;
    font-size:15px;
    z-index:90;
    background:#fff0;
    transition: 0.2s;
    border: unset;
    @media(max-width:320px){
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 40%;
        }
    }
    img{
        width: 50%;
    }
    &:hover{
        border-color:#34C1B5;
        background:#34C1B5;
        color:#fff
    }
}
#btnWrap{
    bottom: 42px;
    height: 0;
    overflow: hidden;
    transition: 0.8s;
    li{
        width:50px;
        height:50px;
        line-height:46px;
        border:1px solid #34C1B5; 
        border-radius: 50%; 
        text-align:center;
        font-size:20px;
        z-index:98;
        background:#34C1B5;
        transition: 0.2s;
        a{
            color:white;
            img{
                width: 55%;
            }
        }
        @media(max-width:320px){
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 40%;
            }
        }
        &:hover{
            background-color:#0b9287;
            border-color: #0b9287;

        }
    }
    .kakao{
        a{
            img{
                width: 70%;
            }
        }
    }
}
.hover{
    #more_btn{
        bottom: 0;
        width:50px;
        height:50px;
        line-height:46px;
        // border:1px solid #34C1B5; 
        border-radius: 50%; 
        color:#333;
        text-align:center;
        font-size:15px;
        z-index:1001;
        background:#fff0;
        transition: 0.2s;
        @media(max-width:320px){
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 40%;
                margin-bottom: 20px;
            }
        }
        &:hover{
            border-color:#34C1B5;
            background:#34C1B5;
            i{
                color:#fff;
            }
        }
        img{
            width: 50%;
        }
    }
}
  
.hover:hover #btnWrap{
    bottom: 0;
    height: 232px;
    @media(max-width:320px){
        height: 143px;
        bottom: 10px;
    }
} 
#way{
    .mapWrap{
        .makercolor{
            img{
                width: 8rem;
            }
            p{
                top: 50%;
                font-size: 1.2rem;
                left: 50%;
                transform: translate(-50%, -50%);
                text-indent: 8px;
                color: white;
                font-family: 'nexM';
            }
        }
    }
}
#about{
    min-height: 100vh;
    .hjinner{
        padding-top: 15%;
        @media(max-width:425px){
            padding-top: 0;
        }
        .about_sub{
            font-size: 5rem;
            line-height: 10rem;
            word-break: keep-all;
            @media(max-width:425px){
                font-size: 2.2rem;
                line-height: 5rem;
            }
        }
        .about_con{
            font-size: 1.1rem;
            line-height: 2.2rem;
            word-break: keep-all;
            @media(max-width:425px){
                font-size: 1rem;
                padding: 0 30px;
            }
        }
    }
}
#people{
    min-height:100vh;
    .imgWrap{
        position: relative;
        height: 100%;
        .teacher_name{
            font-size: 2rem;
            top: 0;
            right: 0;
            transform: translate(50%, -150%);
        }
    }
    .timlineWrap{
        .text-left{
            .time{
                font-size: 1rem;
                font-family: 'nexM';
                color: #b7b7b7;
            }
            .timeC{
                font-size: 1.5rem;
                font-family: 'nexL';
                color: #747474;
                line-height: 2rem;
            }
        }
        .event {
            padding-bottom: (50px * 0.5);
            position: relative;
        
            &:last-of-type { 
              padding-bottom: 0;
              margin-bottom: 0; 
              border: none;      
            }
        
            &:after { 
              position: absolute;
              display: block;
              left: 0;        
              background: #ffe100;    
              border-radius: 50%;  
              height: 11px;
              width: 11px;
              content: "";
              top: 0;
              transform: translateX(-22.5px);
            }
          }
        
    }
}
.timeline {
    border-left: 4px solid #34C1B5;   
    background: fade(white, 3%);
    position: relative;
    line-height: 1.4em;
    list-style: none;
}
#way{
    height: 100vh;
    .national{
        p{
            font-size: 5rem;
            line-height: 10rem;
            word-break: keep-all;
            @media(max-width:426px){
                font-size: 2.2rem;
            }
        }
    }
    .mapmap{
        .adressbox{
            .adMaker{
                p{
                    line-height: 3.5rem;
                    font-size: 2.5rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #ffe100;
                    font-family: 'nexB';
                    word-break: keep-all;
                    @media(max-width:425px){
                        font-size: 1.5rem;
                    }
                }
            }
            .adress{
                font-size: 1.5rem;
                word-break: keep-all;
                @media(max-width:768px){
                    font-size: 0.9rem;
                }
                .adleft{
                    color:#333
                }
            }
        }
    }
}

