#ft{
    .ft_wr{
        .leftWrap{
            .ft_cnt{
                a{
                    font-size: 0.8rem;
                    line-height: 1.8rem;
                    letter-spacing: 0.2rem;
                }
            }
            .ft_company{
                a,p{
                    color: white;
                    font-size: 0.8rem;
                    line-height: 2rem;
                    letter-spacing: 0.2rem;
                    word-wrap: break-word;
                }
            }
            .snsWrap{
                padding-bottom: 2rem;
                i{
                    color: white;
                }
                .fa-youtube{
                    font-size: 2rem;
                    margin-right: 1rem;
                }
                .fa-instagram{
                    font-size: 1.75rem;
                }
            }
        }
        #logoWrap{
            svg{
                width: 250px;
                fill: white;
            }
        }
    }
}
#news{
    .hjinner{
        .textWrap{
            .subject{
                font-size: 2rem;
                font-family: 'nexB';
            }
            .table{
                margin-bottom: 0;
                top: 0;
                right: 0;
                font-size: 6rem;
                width: fit-content;
                font-family: 'nexB';
                color: #c9c9c9c9;
                transform: translate(0%, 10%);
            }
        }
        .newsWrap{
            .box{
                border-right: 1px solid #c9c9c9c9;
                .name{
                    font-size: 1.2rem;
                    font-family: 'nexM';
                }
                .date{

                }
                .nsbtn{

                }
            }
        }
    }
}