#ft {
  background-color: #858585;
  background-image: url(/joy/theme/basic/custom/img/plzbgft.svg);
  background-size: 35%;
  background-repeat: repeat-X;
  background-position-Y: top;
}

@media (max-width: 767px) {
  #ft .ft_wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#ft .ft_wr #logoWrap svg {
  width: 250px;
  fill: white;
}

@media (max-width: 767px) {
  #ft .ft_wr #logoWrap svg {
    width: 175px;
  }
}

#ft_link a {
  font-size: 0.8rem;
  line-height: 1.8rem;
  letter-spacing: 0.2rem;
  text-indent: 0.2rem;
}

#news .hjinner .textWrap a {
  cursor: unset;
}

#news .hjinner .textWrap a:hover {
  color: unset;
}

#news .hjinner .textWrap a .subject {
  font-size: 3rem;
  font-family: 'nexL';
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  color: #5a5a5a;
  letter-spacing: 0.8rem;
}

#news .hjinner .textWrap a .subject:hover {
  color: #34C1B5;
}

#news .hjinner .textWrap .table {
  margin-bottom: 0;
  top: 0;
  right: 0;
  font-size: 6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'nexB';
  color: #c9c9c966;
  -webkit-transform: translate(-60%, 10%);
          transform: translate(-60%, 10%);
}

@media (max-width: 767px) {
  #news .hjinner .textWrap .table {
    left: 0;
    font-size: 4rem;
    -webkit-transform: translate(1rem, 2rem);
            transform: translate(1rem, 2rem);
  }
}

@media (max-width: 767px) {
  #news .hjinner .newsWrap .box:after {
    content: "";
    position: absolute;
    width: 93%;
    height: 100%;
    border-bottom: 1px solid #c9c9c9c9;
    bottom: 0;
    margin-bottom: -1rem;
  }
}

#news .hjinner .newsWrap .box .name {
  font-size: 1.6rem;
  font-family: 'nexM';
  height: 100px;
}

@media (max-width: 992px) {
  #news .hjinner .newsWrap .box .name {
    height: 50px;
  }
}

#news .hjinner .newsWrap .box .name:hover a {
  color: #34C1B5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#news .hjinner .newsWrap .box .date .content {
  font-size: 1rem;
  width: 16rem;
}

#news .hjinner .newsWrap .box .nsbtn svg {
  width: 50px;
  height: 50px;
}

#news .hjinner .newsWrap .box .nsbtn a svg .st0 {
  fill: #F1F1F1;
}

#news .hjinner .newsWrap .box .nsbtn a:hover svg .st0,
#news .hjinner .newsWrap .box .nsbtn a:hover svg .st1 {
  fill: #34C1B5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#minji {
  width: 100%;
  right: 0;
  bottom: 0;
  -webkit-animation: minji 10s linear;
          animation: minji 10s linear;
  -webkit-transform: translate(37%, 38%);
          transform: translate(37%, 38%);
  z-index: 1;
}

#minji img {
  width: 10rem;
}

@-webkit-keyframes minji {
  0% {
    -webkit-transform: translate(37%, 38%);
            transform: translate(37%, 38%);
  }
  10% {
    -webkit-transform: translate(22%, 102%);
            transform: translate(22%, 102%);
  }
  20% {
    -webkit-transform: translate(9%, 55%);
            transform: translate(9%, 55%);
  }
  30% {
    -webkit-transform: translate(-2%, 51%);
            transform: translate(-2%, 51%);
  }
  40% {
    -webkit-transform: translate(-14%, 92%);
            transform: translate(-14%, 92%);
  }
  50% {
    -webkit-transform: translate(-24%, 68%);
            transform: translate(-24%, 68%);
  }
  60% {
    -webkit-transform: translate(-32%, 47%);
            transform: translate(-32%, 47%);
  }
  90% {
    -webkit-transform: translate(-48%, 94%);
            transform: translate(-48%, 94%);
  }
  100% {
    -webkit-transform: translate(-50%, 94%);
            transform: translate(-50%, 94%);
  }
}

@keyframes minji {
  0% {
    -webkit-transform: translate(37%, 38%);
            transform: translate(37%, 38%);
  }
  10% {
    -webkit-transform: translate(22%, 102%);
            transform: translate(22%, 102%);
  }
  20% {
    -webkit-transform: translate(9%, 55%);
            transform: translate(9%, 55%);
  }
  30% {
    -webkit-transform: translate(-2%, 51%);
            transform: translate(-2%, 51%);
  }
  40% {
    -webkit-transform: translate(-14%, 92%);
            transform: translate(-14%, 92%);
  }
  50% {
    -webkit-transform: translate(-24%, 68%);
            transform: translate(-24%, 68%);
  }
  60% {
    -webkit-transform: translate(-32%, 47%);
            transform: translate(-32%, 47%);
  }
  90% {
    -webkit-transform: translate(-48%, 94%);
            transform: translate(-48%, 94%);
  }
  100% {
    -webkit-transform: translate(-50%, 94%);
            transform: translate(-50%, 94%);
  }
}

#gallery {
  background-color: #34C1B5;
  background-image: url(/joy/theme/basic/img/whiteSK.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right;
}

#gallery .wavebg {
  background-image: url(/joy/theme/basic/custom/img/plzbgft.svg);
  background-size: 35%;
  background-repeat: repeat-X;
  background-position-Y: top;
}

@media (max-width: 1440px) {
  #gallery {
    background-size: 45%;
    background-position-y: bottom;
  }
}

@media (max-width: 1023px) {
  #gallery {
    background-size: 52%;
    background-position-y: bottom;
  }
}

#gallery .hjinner .dailySub p {
  font-size: 3rem;
  font-family: 'nexL';
  letter-spacing: 0.8rem;
  color: #0e7c73;
}

#gallery .hjinner .dailySub .gallery {
  margin-bottom: 0;
  top: 0;
  right: 0;
  font-size: 6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'nexB';
  color: #f1eded66;
  -webkit-transform: translate(-40%, 30%);
          transform: translate(-40%, 30%);
}

@media (max-width: 767px) {
  #gallery .hjinner .dailySub .gallery {
    left: 0;
    font-size: 4rem;
    -webkit-transform: translate(1rem, 6rem);
            transform: translate(1rem, 6rem);
  }
}

#gallery .hjinner .dailySub .red {
  width: 12rem;
  top: 100%;
  right: 0;
  -webkit-transform: rotate(346deg);
          transform: rotate(346deg);
}

#gallery .hjinner .dailyBWrap {
  padding-top: 144px;
}

#gallery .hjinner .dailyBWrap .minjiBT-prev,
#gallery .hjinner .dailyBWrap .minjiBT-next {
  position: relative;
  width: 95px;
  height: 40px;
  margin: 0 5px;
}

@media (max-width: 767px) {
  #gallery .hjinner .dailyBWrap .minjiBT-prev,
  #gallery .hjinner .dailyBWrap .minjiBT-next {
    display: none;
  }
}

#gallery .hjinner .dailyBWrap .minjiBT-prev .st0,
#gallery .hjinner .dailyBWrap .minjiBT-prev .st1,
#gallery .hjinner .dailyBWrap .minjiBT-next .st0,
#gallery .hjinner .dailyBWrap .minjiBT-next .st1 {
  fill: black;
}

#gallery .hjinner .dailyBWrap .swiper-container .swiper-wrapper .swiper-slide.minjislide img {
  height: 100%;
  border-radius: 15px;
  border: 5px solid #7fd3cc;
}

#youtube .youWrap .green {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 40%;
  right: 35%;
}

#youtube .youWrap .green img {
  width: 12rem;
}

#youtube .youWrap .noline {
  line-height: 0;
}

#youtube .youWrap .noline iframe {
  border-radius: 75px;
}

#youtube .youWrap .youT {
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  text-indent: 0.15rem;
}

#youtube .youWrap .youT .ycontent {
  line-height: 2rem;
}

#youtube .youWrap .youT .btnWrap {
  border: 1px solid black;
}

#youtube .youWrap .youT .btnWrap:hover a {
  color: #34C1B5;
  font-family: 'nexM';
}

#youtube .youWrap .youT .btnWrap a {
  font-size: 1rem;
}

#way .mapWrap .mapText p {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.15rem;
  text-indent: 0.15rem;
  word-wrap: break-word;
}

#map {
  border-radius: 75px;
}

.fix {
  bottom: 0;
  right: 0;
  padding: 25px;
  z-index: 1;
}

@media (max-width: 320px) {
  .fix {
    padding: 10px;
  }
}

#top_btn {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  line-height: 46px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  z-index: 90;
  background: #fff0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: unset;
}

@media (max-width: 320px) {
  #top_btn {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #top_btn img {
    width: 40%;
  }
}

#top_btn img {
  width: 50%;
}

#top_btn:hover {
  border-color: #34C1B5;
  background: #34C1B5;
  color: #fff;
}

#btnWrap {
  bottom: 42px;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#btnWrap li {
  width: 50px;
  height: 50px;
  line-height: 46px;
  border: 1px solid #34C1B5;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  z-index: 98;
  background: #34C1B5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#btnWrap li a {
  color: white;
}

#btnWrap li a img {
  width: 55%;
}

@media (max-width: 320px) {
  #btnWrap li {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #btnWrap li img {
    width: 40%;
  }
}

#btnWrap li:hover {
  background-color: #0b9287;
  border-color: #0b9287;
}

#btnWrap .kakao a img {
  width: 70%;
}

.hover #more_btn {
  bottom: 0;
  width: 50px;
  height: 50px;
  line-height: 46px;
  border-radius: 50%;
  color: #333;
  text-align: center;
  font-size: 15px;
  z-index: 1001;
  background: #fff0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 320px) {
  .hover #more_btn {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hover #more_btn img {
    width: 40%;
    margin-bottom: 20px;
  }
}

.hover #more_btn:hover {
  border-color: #34C1B5;
  background: #34C1B5;
}

.hover #more_btn:hover i {
  color: #fff;
}

.hover #more_btn img {
  width: 50%;
}

.hover:hover #btnWrap {
  bottom: 0;
  height: 232px;
}

@media (max-width: 320px) {
  .hover:hover #btnWrap {
    height: 143px;
    bottom: 10px;
  }
}
