//**************************메인슬라이드************************

.swiper-slide{
    // width: 100%;
    // padding: 0;
    // margin-bottom: 0;
    // .sw_img{
    //     width: 100%;
    //     margin-top: 0;
    //     height: 0;
    //     padding-bottom: 57%;
    //     margin-bottom: 0;
    //     border-radius: 4px;
    //     margin-left: 0;
    //     background-position: center bottom;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }
}
.swiperBox{
    cursor: pointer;
    .sw_text{ 
    top: 25%;
    left: 1rem;
    bottom: 0;
    right: 0;
    z-index: 99;
    color: rgb(255, 255, 255);
    font-family: nexL;
    .sw_sub{
        font-size: 1rem;
        font-family: 'nexM';
        .place{
            br{
                @media(min-width:1200px){
                    display: none;
                }
            }
            
        }
    }   /*반응형 폰트사이즈 조절*/
        @media(min-width:767px){
            top: 25%;
            left: 25%;
            font-size: 2rem;
        .sw_sub{
            font-size: 4rem;}
    }
     @media(min-width:768px) and (max-width:1050px){
                
    }
 
}
    .bg{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0.401);
    }
}
.swiper-wrapper{
    img{
        height: 80vh;
        @media(min-width :767px ){
            height: 1000px;
            max-height: 100vh;
        }
        /*반응형 이미지사이즈 */
        @media(min-width:768px) and (max-width:1050px){
                
        }
    }   
}
// 페이지네이션
.swiperBox{
    .main-pagination{
        z-index: 1000;
        bottom: 5vh;
    }
}
.swiper-pagination-bullet {
     width: 15px; 
     height: 3px ; 
     background: transparent; 
    //  border: 1px solid #34C1B5; 
     opacity: 1; }
.swiper-pagination-bullet-active {
     width: 6rem; 
     transition: width .5s; 
    //  border-radius: 10px; 
     background: #34C1B5; 
    //  border: 1px solid transparent; 
}

//버튼
.mainBtn{
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    a{
        color: white;
        display: block;
        border: 1px solid white;
        padding: 1rem;
    }
}

