//**************************메인슬라이드************************

.swiper-slide{
    // width: 100%;
    // padding: 0;
    // margin-bottom: 0;
    // .sw_img{
    //     width: 100%;
    //     margin-top: 0;
    //     height: 0;
    //     padding-bottom: 57%;
    //     margin-bottom: 0;
    //     border-radius: 4px;
    //     margin-left: 0;
    //     background-position: center bottom;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }
}
.sw_text{
  
    top: 10%;
    left: 1rem;
    bottom: 0;
    right: 0;
    z-index: 99;
    color: #000;
    font-family: nexL;

    .sw_sub{
        font-size: 1rem;
        font-family: 'nexM';
    }
    @media(min-width:768px){
        top: 25%;
        left: 25%;
        font-size: 1rem;
        .sw_sub{
            font-size: 2rem;}
    }
}




