@charset "UTF-8";
.swiperBox .sw_text {
  top: 25%;
  left: 1rem;
  bottom: 0;
  right: 0;
  z-index: 99;
  color: white;
  font-family: nexL;
  /*반응형 폰트사이즈 조절*/
}

.swiperBox .sw_text .sw_sub {
  font-size: 1rem;
  font-family: 'nexM';
}

@media (min-width: 1200px) {
  .swiperBox .sw_text .sw_sub .place br {
    display: none;
  }
}

@media (min-width: 767px) {
  .swiperBox .sw_text {
    top: 25%;
    left: 25%;
    font-size: 2rem;
  }
  .swiperBox .sw_text .sw_sub {
    font-size: 4rem;
  }
}

.swiperBox .bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.401);
}

.swiper-wrapper img {
  height: 80vh;
  /*반응형 이미지사이즈 */
}

@media (min-width: 767px) {
  .swiper-wrapper img {
    height: 1000px;
    max-height: 100vh;
  }
}

.main-pagination {
  z-index: 1000;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #34C1B5;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 40px;
  -webkit-transition: width .5s;
  transition: width .5s;
  border-radius: 5px;
  background: #34C1B5;
  border: 1px solid transparent;
}
